
@{
    var controller = ViewContext.RouteData.Values["controller"]?.
                     ToString()?.
                     ToLower() ?? 
                     String.Empty;
    var area = ViewContext.RouteData.Values["area"]?
               .ToString()?
               .ToLower() ?? 
               String.Empty;
}


<a class="navbar-brand badge" href="#">WebLabs</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link badge @(controller == "home" ? "active" : "")"
           asp-controller="Home" asp-action="Index">
            Lab1-2
        </a>
        <a class="nav-item nav-link badge @(controller == "book" ? "active" : "")" 
           asp-controller="Book" asp-action="Index">
            Catalogue
        </a>
        <a class="nav-item nav-link badge @(area == "admin" ? "active" : "")" 
           asp-area="Admin" asp-page="/Index">
            Administration
       </a>
    </div>
